@import "../util/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: $font-text-2;
}

html {
  background: #ebedef;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  max-width: 1400px;
  margin: auto;
}
.App {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
