@import "../util/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: $font-text-2;
}

html {
  background: #ebedef;
  background-image: radial-gradient(
      61.04% 89.69% at 100% 100%,
      rgba(200, 250, 255, 0.08) 0%,
      rgba(28, 210, 229, 0.08) 40.63%,
      rgba(28, 210, 229, 0) 100%
    ),
    radial-gradient(
      43.78% 64.34% at 60.31% 100%,
      rgba(23, 74, 228, 0.08) 0%,
      rgba(23, 74, 228, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(23, 74, 228, 0) 29.44%,
      rgba(23, 74, 228, 0.06) 100%
    ),
    linear-gradient(90deg, #f3f3f7 0%, #ebf0f9 100%);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  max-width: 1400px;
  margin: auto;
}
.App {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  // background: rgb(211, 211, 211);
  background: #17202a;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
