.footer__pages__content {
  .footer__pages__content__title {
    color: $color__text__footer;
    font-family: $font-title-2;
    margin-bottom: 20px;
  }
  .footer__pages__content__list__pages {
    @include flex(column, flex-start, flex-start, 10px);
    color: $color__text__footer;
    font-family: $font-title-2;

    & > li {
      @include flex(row, center, center, 5px);
    }

    & > li > a {
      &:hover {
        border-bottom: 2px solid $color__text__footer;
      }
    }
  }
}
