.about__me {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  @include flex(column, flex-start, center);

  .about__me__container__title {
    @include flex(row, center, center, 10px);
    min-width: 100vw;
    padding: 10px;

    .about__me__title {
      font-family: $font-title-2;
      font-size: 40px;
      text-align: center;
      white-space: nowrap;
    }

    .about__me__decoration__title {
      width: 100%;
      height: 3px;
      border-radius: 12px;
      background: #090d11ab;
      animation: about__me__decoration__watch 1.5s normal;

      @keyframes about__me__decoration__watch {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
    }
  }

  .about__me__container__content {
    @include flex(row, center, center);
    width: 100%;

    @media (max-width: 750px) {
      @include flex(column, center, center, 20px);
    }

    .about__me__content__text {
      @include flex(column, center, center, 10px);
      width: 60%;
      height: 100%;
      min-height: 400px;
      padding: 20px;
      text-align: justify;

      @media (max-width: 750px) {
        width: 100%;
      }

      & > p {
        width: 100%;
        max-width: 600px;
        font-size: 13px;
        animation: paragraph_animation 900ms normal;

        @keyframes paragraph_animation {
          0% {
            transform: translateX(-100%);
            opacity: 0;
          }
          100% {
            transform: translateX(0%);
            opacity: 100;
          }
        }
      }
    }
    .about__me__content__img {
      @include flex(row, center, center);
      width: 40%;

      .about__me__front__img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        background: transparent;
        object-fit: cover;
        // box-shadow: 0px 10px 30px 5px rgba($color: #000000, $alpha: 0.2);
        animation: about__me__front 900ms normal;

        @keyframes about__me__front {
          0% {
            transform: translateX(200px) scale(0);
          }
          100% {
            transform: translateX(0px) scale(1);
          }
        }

        @media (max-width: 750px) {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
