.about__me {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  @include flex(column, flex-start, center);

  @media (max-width: 897px) {
    @include p-horizontal(15px, 15px);
  }

  .about__me__welcome__message {
    font-size: 20px;
    font-family: $font-title-2;
    color: #ff2525;
    text-align: center;
    animation: watch__text__about 800ms normal;

    @media (max-width: 569px) {
      font-size: 17px;
    }

    @media (max-width: 368px) {
      font-size: 15px;
    }
  }

  .about__me__title_page {
    font-size: 70px;
    font-family: $font-title-2;
    color: #000;
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    animation: watch__text__about 900ms normal;

    @media (max-width: 569px) {
      font-size: 50px;
    }

    @media (max-width: 368px) {
      font-size: 30px;
    }
  }

  .about__me__description {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    @include p-vertical(40px, 40px);
    @include flex(column, center, center, 15px);
    margin-top: 50px;
    max-width: 900px;
    animation: watch__text__about__down 800ms normal;

    .about__me__text {
      font-size: 13px;
      font-family: $font-title-2;
      text-align: center;

      @media (max-width: 569px) {
        font-size: 10px;
      }

      @media (max-width: 368px) {
        font-size: 9px;
      }
    }
  }
}

@keyframes watch__text__about {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 100;
  }
}

@keyframes watch__text__about__down {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 100;
  }
}
