@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.proyects {
  min-height: 200vh;
  padding-top: 150px;
  z-index: 10;

  .projects__scrolling__text_left {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 120px;

    & > h1 {
      white-space: nowrap;
      font-size: 7rem;
      position: absolute;
      left: 0;
      top: 0;
      animation: scroll__translate__text__left 30s infinite linear;
      font-family: $font-title-1;

      @media (max-width: 612px) {
        font-size: 6rem;
      }
    }
  }

  .projects__scrolling__text_right {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 120px;

    & > h1 {
      white-space: nowrap;
      font-size: 5rem;
      position: absolute;
      left: 0;
      top: 0;

      animation: scroll__translate__text__right 30s infinite linear;
      font-family: $font-title-1;

      @media (max-width: 612px) {
        font-size: 5rem;
      }
    }
  }

  .container__proyects {
    padding: 25px;
    padding-top: 200px;
    padding-bottom: 200px;
    @include flex(row, center, center, 150px, wrap);
  }
}

@keyframes scroll__translate__text__left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll__translate__text__right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(50%);
  }
}
