.repositories {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;

  .repositories__container__data {
    @include flex(column, center, center, 10px);

    .repositories__title {
      font-size: 40px;
      font-family: $font-title-1;
      animation: repositories__title__watch 900ms normal;

      @keyframes repositories__title__watch {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0%);
          opacity: 100;
        }
      }

      @media (max-width: 674px) {
        font-size: 20px;
      }
    }

    .repositories__description__page {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.623);
      animation: repositories__description__watch 900ms normal;
      text-align: center;

      @keyframes repositories__description__watch {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0%);
          opacity: 100;
        }
      }

      @media (max-width: 674px) {
        font-size: 15px;
      }
    }
  }

  .repositories__container {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 0px 10px 20px 10px rgba($color: #000000, $alpha: 0.2);
    padding: 20px;
    animation: repositories__container__watch 400ms normal;

    @keyframes repositories__container__watch {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0%);
      }
    }

    .repositories__list {
      // padding-top: 20px;
      padding: 20px;
      @include flex(column, center, center, 20px);
    }
  }
}
