$font-title-1: "Montserrat", sans-serif;
$font-title-2: "Poppins", sans-serif;
$font-special-title: "Corinthia", cursive, sans-serif;
$font-special-title-2: "Lobster", cursive;
$font-text-1: "Roboto", sans-serif;
$font-text-2: "Cabin", sans-serif;
