.home__main__decoration__points {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 15px;
  padding: 10px;
  @include flex(column, space-between, center, 0px);

  .home__main__decoration__container__points {
    @include flex(row, space-between, center, 10px);
    width: 100%;
    animation: watch_circle 400ms normal;

    .home__main__decoration__point {
      background: #0b1014;
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }

  &.two {
    bottom: 15px;
    right: 20px;
  }
}

.home__main__circle__center {
  width: 450px;
  height: 450px;
  background: #17202a;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  animation: watch_circle 800ms normal;
  animation: floating_element 3s infinite linear;
  animation-delay: 1s;

  @media (max-width: 782px) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: 429px) {
    width: 150px;
    height: 150px;
  }
  // background-image: url(/source/front.png);
}

.home__main__title {
  font-size: 7rem;
  margin: auto;
  @include flex(column, center, flex-start, 5px);
  padding: 10px;
  z-index: 5;
  mix-blend-mode: difference;
  color: #fff;
  animation: watch_text_3d 1.6s normal;

  @media (max-width: 782px) {
    font-size: 4rem;

    .greeting {
      &.one {
        margin-left: 10px;
      }
      &.two {
        margin-left: 20px !important;
      }
      &.tree {
        margin-left: 40px !important;
      }
    }
  }

  @media (max-width: 429px) {
    font-size: 2rem;
  }

  .greeting {
    $margin-greeting: 10px;
    font-family: $font-title-1;
    font-weight: 700;

    &.one {
      margin-left: $margin-greeting;
    }

    &.two {
      margin-left: $margin-greeting + 100px;
    }
    &.tree {
      margin-left: $margin-greeting + 150px;
    }
  }
}

.home__main__description {
  position: absolute;
  max-width: 300px;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  transform: translateX(150px) translateY(-150px);
  mix-blend-mode: difference;
  color: #fff;
  font-size: 15px;
  z-index: 3;

  @media (max-width: 782px) {
    transform: translateX(0px) translateY(-160px);
    font-size: 12px;
  }
}

.home__main__decoration__img__two {
  background-image: url(https://images.pexels.com/photos/4974912/pexels-photo-4974912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: -20px;
  animation: floating_element 3s infinite linear;
  animation-delay: 300ms;

  @media (max-width: 782px) {
    min-width: 100px;
    min-height: 100px;
  }
}

.home__main__decoration__img__one {
  background-image: url(https://images.pexels.com/photos/2528118/pexels-photo-2528118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  min-width: 400px;
  min-height: 200px;
  border-radius: 50px;
  position: absolute;
  bottom: -90px;
  left: 20px;
  z-index: 6;
  animation: floating_element 3s infinite linear;

  @media (max-width: 526px) {
    min-width: 200px;
    min-height: 100px;
    border-radius: 20px;
    bottom: -50px;
  }
}

.home__main__decoration__img__tree {
  background-image: url(https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  min-width: 400px;
  min-height: 200px;
  border-radius: 50px;
  position: absolute;
  top: -150px;
  left: 200px;
  animation: floating_element 1s infinite;
}

@keyframes watch_text_3d {
  0% {
    transform: rotate3d(1, 3, 1, -35deg) translateY(70px);
    opacity: 0;
  }
  100% {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 100;
  }
}

@keyframes watch_circle {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100;
  }
}

@keyframes floating_element {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes scroll_4013 {
  0% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(90%);
  }
}
.scroll_indication {
  width: 20px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(105, 127, 255);
  box-shadow: 0px 0px 10px rgb(105, 127, 255);
  position: relative;
  position: absolute;
  right: 150px;
  bottom: 35px;

  @media (max-width: 556px) {
    right: 0;
    left: 0;
    bottom: 180px;
    margin: auto;
  }

  & > .scroll {
    width: 2.5px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(105, 127, 255);
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    animation: scroll_4013 2s linear infinite;
    transform: translateY(40%);
  }
}
