$color__text__footer: #eaeceeb0;

.footer {
  background: #070a0e;
  padding: 20px;
  @include flex(row, space-between, center, 10px, wrap);
  @include p-horizontal(50px, 50px);
  min-height: 500px;
  overflow: hidden;
  width: 100%;

  .footer__user__content {
    max-width: 250px;
    @include flex(column, center, flex-start, 20px);

    .footer__user__content__img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
    .footer__user__content__description {
      color: $color__text__footer;
      font-size: 12px;
      font-family: $font-title-2;
    }
  }
}
