.formulary {
  background: #fff;
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  @include p-vertical(60px, 60px);
  @include flex(column, center, center, 40px);

  .formulary__title {
    font-size: 50px;
    font-family: $font-title-2;
    text-align: center;

    @media (max-width: 510px) {
      font-size: 23px;
    }
  }

  .formulary__description {
    font-size: 16px;
    font-family: $font-title-2;
    color: #000000ce;
  }

  .container_formulary_doble_input {
    @include flex(row, space-between, center, 20px);
    width: 100%;
    max-width: 700px;

    @media (max-width: 710px) {
      @include flex(column, center, center, 30px);
    }

    .form__contact__container__input {
      @include flex(column, center, flex-start, 12px);
      width: 100%;

      @media (max-width: 710px) {
        @include flex(column, center, center, 12px);
      }
    }
  }
}
