.card__repo {
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 3px 10px 5px rgba($color: #000000, $alpha: 0.1);
  width: 100%;
  position: relative;
  animation: card__repo__watch 700ms normal;

  @keyframes card__repo__watch {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 100;
      transform: scale(1);
    }
  }

  .card__repo__tags {
    @include flex(row, flex-start, center, 10px, wrap);
    margin-top: 20px;

    .card__repo__tag {
      background: #0a0e13;
      color: #fffeff;
      padding: 5px;
      @include p-horizontal(10px, 10px);
      min-width: 50px;
      border-radius: 12px;
      text-align: center;
    }
  }

  .card__repo__name {
    font-size: 30px;

    &:hover {
      border-bottom: 2px solid #0a0e13;
    }
  }

  .card__repo__description {
    color: #000000c2;
    margin-top: 5px;
    max-width: 500px;
  }

  .card__repo__indicator__language__container {
    @include flex(row, center, center, 10px);
    position: absolute;
    right: 20px;
    top: 20px;

    .card__repo__indicatos__language__name {
      color: #000000b9;
    }

    .card__repo__indicator__language {
      width: 10px;
      height: 10px;
      background: #17202a;
      border-radius: 50%;

      &.HTML {
        background-color: #fee140;
        background-image: linear-gradient(90deg, #c0392b 0%, #641e16 100%);
      }

      &.Python {
        background-color: #fee140;
        background-image: linear-gradient(90deg, #5499c7 0%, #154360 100%);
      }

      &.TypeScript {
        background-color: #fee140;
        background-image: linear-gradient(90deg, #85c1e9 0%, #3498db 100%);
      }

      &.JavaScript {
        background-color: #fee140;
        background-image: linear-gradient(90deg, #f7dc6f 0%, #f1c40f 100%);
      }

      &.CSS {
        background: #d6eaf8;
      }

      &.Lua {
        background: #abebc6;
      }

      &.Shell {
        background: #186a3b;
      }

      &.null {
        background: #17202a;
      }
    }
  }
}
