.card__main__proyect {
  background: #fdfefe;
  @include flex(row, center, center);
  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  @media (max-width: 660px) {
    @include flex(column, center, center);
  }

  .card__main__proyect__content {
    @include flex(column, center, center, 10px);
    width: 50%;
    padding: 20px;

    @media (max-width: 660px) {
      width: 100%;
    }

    .card__main__proyect__content__title {
      font-size: 40px;
      max-width: 300px;
      color: #0884d6;
      font-family: $font-title-2;
      font-stretch: condensed;
    }

    .card__main__proyect__content__description {
      max-width: 500px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.705);
    }

    .card__main__proyect__content__buttons {
      @include flex(row, center, center, 10px);
      margin-top: 20px;

      .card__main__proyect__content__buttons__direccion {
        padding: 8px;
        border-radius: 12px;
        background: #eaecee;
        min-width: 100px;
        text-align: center;
        transition: all 400ms;
        // box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
        @include flex(row, center, center, 5px);

        &:hover {
          background: #090d11;
          color: #fdfefe;
        }

        &:focus {
          box-shadow: 0px 0px 0px 2px #090d11;
        }
      }
    }
  }

  .card__main__proyect__img {
    width: 50%;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 660px) {
      width: 100%;
    }

    @media (max-width: 660px) {
      min-height: 400px;
      background-size: contain;
    }
  }
}
