.markdown__blockquote {
  @include flex(column, flex-start, flex-start, 10px);
  background: #f2f4f4;
  width: 100%;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
  border-radius: 12px;
}
