.markdown__list {
  @include flex(column, flex-start, flex-start, 5px);
  padding: 10px;
  width: 100%;
}

.markdown__item {
  @include flex(row, flex-start, center, 10px);
  background: #f2f4f4;
  border-radius: 15px;
  padding: 5px;

  .markdown__item__decoration {
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    background: #5dade2;
  }
}
