.inputBoxContainer {
  position: relative;
  width: 100%;
  max-width: 500px;

  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    font-family: $font-title-2;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;

    &:valid ~ span {
      transform: translateX(0%) translateY(-20px);
      font-size: 0.8em;
      padding: 5px 10px;
      background: #000;
      letter-spacing: 0.2em;
      color: #fff;
      border: 2px;
    }
    &:focus ~ span {
      transform: translateX(0%) translateY(-20px);
      font-size: 0.8em;
      padding: 5px 10px;
      background: #000;
      letter-spacing: 0.2em;
      color: #fff;
      border: 2px;
    }
    &:valid {
      border: 2px solid #000;
      border-radius: 8px;
    }
    &:focus {
      border: 2px solid #000;
      border-radius: 8px;
    }
  }
  span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
}
